<table id="image-rows">
  <thead>
  <th>Image</th>
  <th>Display order</th>
  <th>Name</th>
  <th>Attribution</th>
  <th>Image Type</th>
  </thead>
  <tbody>
    <% images.each do |image| %>
      <tr>
        <td><%= image_tag image.image(:small) %></td>
        <td><%= image.position %></td>
        <td><%= image.name %></td>
        <td><%= image.attribution %></td>
        <td><%= image.image_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
